body {
    background: #3379BA;
}

.navbar-inner {
    background: #2B669E !important;
    border: none;
}

.navbar-inner a {
    color: #fff !important;
}
.nav-button {
    display: inline-block;
}
.nav-button a {
    display: inline-block;
    padding: 10px 0 0 30px;
    font-weight: bold;
}

.hamburger a {
    background: url('../img/hamburger.png') no-repeat 5px 12px;
    background-size: 20px;
}

.nav-right {
    display: inline-block;
    float: right;
    height: 40px;
    margin: 0 15px 0 0;
}
.nav-login {
    display: inline-block;
}
.nav-login img {
    width: 30px;
    height: 30px;
    margin: 4px 0 0 0;
}
.nav-login a {
    display: inline-block;
    padding: 7px 0 0 0;
    vertical-align: middle;
}

.nav-logout {
    display: inline-block;
}

.nav-logout a {
    display: inline-block;
    padding: 7px 0 0 0;
    vertical-align: middle;
}

.nav-messages {
    display: inline-block;
    margin: 0 15px 0 0;
}

.nav-messages a {
    display: inline-block;
    padding: 7px 0 0 0;
    vertical-align: middle;
    font-weight: bold;
}

.nav-login-available-money {
    display: inline-block;
    padding: 7px 0 0 0;
    vertical-align: middle;
    font-weight: bold;
    color: #8f8;
    margin: 0 0 0 10px;
}
.nav-login-disabled-money {
    display: inline-block;
    padding: 7px 0 0 0;
    vertical-align: middle;
    font-weight: bold;
    color: #a00;
    margin: 0 10px 0 0;
}

.clear {
    clear: both;
}

.board-row {
    width: 1950px;
    padding: 0 0 0 50px;
}

.board-col {
    width: 300px;
    float: left;
    background: #E3E4E6;
    margin-right: 10px;
    border-radius: 3px;
    padding: 0 0 10px 0;
}

.board-col-title {
    margin: 10px 0 0 20px;
    font-size: 16px;
    font-weight: bold;
}

.board-add-card {
    margin: 10px 0 0 20px;
}

.board-add-card a {
    color: grey;
}

.board-card {
    width: 230px;
    padding: 20px;
    background: #fff;
    margin: 10px 0 0 15px;

    border-radius: 4px;
}

.board-card:hover {
    cursor: pointer;
}

.board-title {
    font-size: 16px;
}

.project-list {
    width: 345px;
    height: 1000px;
    background: #fff;
    position: absolute;
    border-radius: 4px;
    top: 40px;
    left: -350px;
    z-index: 1000;
}

.project-list-search {
    margin: 15px 0 0 20px;
}

.project-list-search input {
    width: 290px;
}

.project-list-item a {
    width: 273px;
    height: 30px;
    margin: 15px 0 0 20px;
    border-radius: 4px;
    background: #E6EFF7;
    font-weight: bold;
    display: inline-block;
    padding: 10px 0 0 30px;
    color: #000;
}

.project-list-item a:hover {
    background: #E9F5F8;
    text-decoration: none;
}

.project-list-add-project {
    text-align: center;
    margin: 20px 0 0 0;
}

.project-list-add-project a {
    color: grey;
}

.project-list-add-project-input {
    display: none;
    margin: 15px 0 0 0;
}

.messenger {
    display: none;
    width: 800px;
    height: calc(100% - 40px);
    background: #fff;
    position: absolute;
    border-radius: 4px;
    top: 40px;
    right: 0px;
    z-index: 1000;
}

.messenger-contact-list {
    width: 250px;
    height: calc(100% - 20px);
    background: #F3F4F6;
    padding: 20px 5px 0 5px;
}

.messenger-search input {
    width: 230px;
}
.messenger-contact-item img {
    height: 45px;
    display: inline-block;
    margin: -10px 0 0 -30px;
    border-radius: 45px;
}
.messenger-contact-item span {
    display: inline-block;
    margin: -5px 0 0 10px;
}
.messenger-contact-item a {
    width: 213px;
    height: 35px;
    margin: 15px 0 0 0;
    border-radius: 4px;
    background: #E6EFF7;
    font-weight: bold;
    display: inline-block;
    padding: 10px 0 0 30px;
    color: #000;
}

.messenger-field {
    width: 550px;
    bottom: 0;
    top: 0;
    right: 0;
    position: absolute;
    height: 100%;
}
.messenger-new-messege-field {
    bottom: 0;
    right: 30px;
    width: 500px;
    padding: 0;
    margin: 0;
    position: absolute;
}
.messenger-new-messege-field textarea {
    height: 100px;
    width: 500px;
}
.messages {
    padding: 0 0 0 30px;
    height: calc(100% - 120px);
    overflow: scroll;
}
.messages div {
    width: 400px;
    padding: 10px;
    border-radius: 8px;
}

.message-other-message {
    margin: 25px 0 0 -10px;
    background: #fdd;
}
.message-my-message {
    margin: 25px 0 0 90px;
    background: #dfd;
}




.card-window {
    top: 20px;
    left: calc(50% - 400px);
    width: 740px;
    min-height: 400px;
    background: #fff;
    border-radius: 4px;
    position: absolute;
    z-index: 2000;
    box-shadow: 0px 0px 40px -6px rgba(0,0,0,0.75);
    padding: 20px 20px 20px 40px;
    display: none;
}
.card-window-close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    right: 0;
    background: url("../img/close.png") no-repeat 5px 0;
    background-size: 10px 10px;
}
.card-window-close:hover {
    cursor: pointer;
}
.card-window-title {
    font-weight: bold;
    font-size: 17px;
}

.card-window-description {
    width: 500px;
    margin: 20px 0 0 0;
}

.card-window-description-images {
    width: 500px;
    margin: 10px 0 0 0;
}

.card-window-description-images img {
    width: 220px;
    margin: 5px 10px;
    display: inline-block;
}


.card-window-comments {
    margin: 15px 0 0 10px;
}

.card-window-comments-title {
    font-size: 15px;
    font-weight: bold;
}

.card-window-comments-add textarea {
    width: 460px;
    margin: 10px 0 0 0;
    height: 60px;
}



.add-card-window {
    top: 20px;
    left: calc(50% - 400px);
    width: 740px;
    min-height: 400px;
    background: #fff;
    border-radius: 4px;
    position: absolute;
    z-index: 2000;
    box-shadow: 0 0 40px -6px rgba(0,0,0,0.75);
    padding: 20px 20px 20px 40px;
    display: none;
}
.add-card-window-close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    right: 0;
    background: url("../img/close.png") no-repeat 5px 0;
    background-size: 10px 10px;
}
.add-card-window-close:hover {
    cursor: pointer;
}

.add-card-window-title {
    font-weight: bold;
    font-size: 17px;
    margin: 0 0 10px 0;
}
.add-card-window-title-input {
    font-weight: bold;
    font-size: 17px;
}
.add-card-window-title-input input {
    width: 500px;
}

.add-card-window-description {
    width: 500px;
    margin: 10px 0 0 0;
}

.add-card-window-description textarea {
    width: 500px;
    height: 200px;
}

.add-card-window-btns {
    position: absolute;
    top: 30px;
    right: 0;
    width: 200px;
}

.add-card-window-btns button {
    width: 150px;
    display: block;
    margin: 10px 0 0 0;
}

