body {
    background: #3379BA;
}

.navbar-inner {
    background: #2B669E !important;
    border: none;
}

.navbar-inner a {
    color: #fff !important;
}
.nav-button {
    display: inline-block;
}
.nav-button a {
    display: inline-block;
    padding: 10px 0 0 30px;
    font-weight: bold;
}

.hamburger a {
    background: url('../img/hamburger.png') no-repeat 5px 12px;
    background-size: 20px;
}

.nav-right {
    display: inline-block;
    float: right;
    height: 40px;
    margin: 0 15px 0 0;
}
.nav-login {
    display: inline-block;
}
.nav-login img {
    width: 30px;
    height: 30px;
    margin: 4px 0 0 0;
}
.nav-login a {
    display: inline-block;
    padding: 7px 0 0 0;
    vertical-align: middle;
}

.nav-logout {
    display: inline-block;
}

.nav-logout a {
    display: inline-block;
    padding: 7px 0 0 0;
    vertical-align: middle;
}

.nav-messages {
    display: inline-block;
    margin: 0 15px 0 0;
}

.nav-messages a {
    display: inline-block;
    padding: 7px 0 0 0;
    vertical-align: middle;
    font-weight: bold;
}

.clear {
    clear: both;
}

.board-row {
    width: 1950px;
    padding: 0 0 0 50px;
}

.board-col {
    width: 300px;
    float: left;
    background: #E3E4E6;
    margin-right: 10px;
    border-radius: 3px;
    padding: 0 0 10px 0;
}

.board-col-title {
    margin: 10px 0 0 20px;
    font-size: 16px;
    font-weight: bold;
}

.board-add-card {
    margin: 10px 0 0 20px;
}

.board-add-card a {
    color: grey;
}

.board-card {
    width: 230px;
    padding: 20px;
    background: #fff;
    margin: 10px 0 0 15px;

    border-radius: 4px;
}

.board-title {
    font-size: 16px;
}

.project-list {
    width: 345px;
    height: 1000px;
    background: #fff;
    position: absolute;
    border-radius: 4px;
    top: 40px;
    left: -350px;
    z-index: 1000;
}

.project-list-search {
    margin: 15px 0 0 20px;
}

.project-list-search input {
    width: 290px;
}

.project-list-item a {
    width: 273px;
    height: 30px;
    margin: 15px 0 0 20px;
    border-radius: 4px;
    background: #E6EFF7;
    font-weight: bold;
    display: inline-block;
    padding: 10px 0 0 30px;
    color: #000;
}

.project-list-item a:hover {
    background: #E9F5F8;
    text-decoration: none;
}

.project-list-add-project {
    text-align: center;
    margin: 20px 0 0 0;
}

.project-list-add-project a {
    color: grey;
}

.messenger {
    display: none;
    width: 800px;
    height: 1000px;
    background: #fff;
    position: absolute;
    border-radius: 4px;
    top: 40px;
    right: 0px;
    z-index: 1000;
}

.messenger-contact-list {
    width: 250px;
    height: 100%;
    background: #F3F4F6;
    padding: 20px 5px 0 5px;
}

.messenger-search input {
    width: 230px;
}

.messenger-contact-item a {
    width: 213px;
    height: 30px;
    margin: 15px 0 0 0;
    border-radius: 4px;
    background: #E6EFF7;
    font-weight: bold;
    display: inline-block;
    padding: 10px 0 0 30px;
    color: #000;
}